@font-face {
  font-family: "NS Sans";
  src: url("../fonts/nssans-regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NS Sans";
  src: url("../fonts/nssans-italic.woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "NS Sans";
  src: url("../fonts/nssans-demi.woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "NS Sans";
  src: url("../fonts/nssans-bold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "NS Sans";
  src: url("../fonts/nssans-bolditalic.woff2");
  font-weight: bold;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey: #e6e6e9;
  --yellow: #ffc917;
  --light-blue: #0063d3;
  --dark-blue: #003082;
}

html {
  scroll-behavior: smooth;
  background-color: var(--grey);
}

body {
  font-family: "NS Sans", "Segoe UI", "Myriad", "Verdana", "sans-serif";
  background-color: var(--grey);
  min-height: 100vh;
}
